img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  font-size: var(--text-sm);
  color: var(--gray-600);
}

.illustration_articles {
  max-width: 50%;
  height: auto;
}

.img_galerie {
  max-width: 80%;
  background-color: var(--gray-800);
  margin-bottom: 40px;
  color: white;
  border: 0;
  border-radius: 10px;
}

.img_galerie:first-child{
  margin-top: 30px;
}

.img_galerie p{
  margin-top: 10px;
}

.maquette_part img {
  height: 100%;
  width: 100%;
  margin-top: -600px;
  transform: scale(0.5);
}

.membre img {
  transform: scale(0.7);
  margin-bottom: -100px;
}