footer {
  color: var(--gray-white);
  background-color: var(--wgs-gray);
  background-clip: content-box;
  margin-top: 4px;
}

.downloads {
  padding: 75px;
}

.downloads a {
  margin-right: 20px;
}

.line {
  margin-left: 5%;
  width: 90%;
  height: 1px;
  border: 2px;
  border-style: solid;
  border-color: white;
}

.infos {
  padding: 75px;
  display: flex;
  justify-content: space-between;
}

.infos a {
  color: white;
  font-size: var(--text-l);
  text-align: center;
  font-style: none;
}

.footer_text a {
  color: var(--gray-white);
}

.footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer_logo img {
  margin-top: 15px;
  width: 90%;
}

.footer_logo_afw {
  filter: invert(100%);
}

.footer_espace {
  margin-top: -100%;
  padding-top: 100%;
}